{{template "header"}}
<body>
<div class="main">
  {{template "navbar"}}
    
    <div class="container-fluid container-fluid-mod">

        <h3 class="mt-0 mb-3 text-white">Playing Today </h3>
            <ul class="flex-container">
				{{range .Allshows}}
                <li class="flex-item"><img class="mr-3" src="{{.ImageLinks}}" alt="image">
                        <h6 class="pt-2 mt-0 mb-1">{{.Name}}</h6>
                </li>
				{{end}}
			</ul>
    </div>
</div>
</body>
</html>
